.modal {
    background: #c6d0ff7a;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    overflow: auto;
}

form {
    display: grid;
    grid-template-columns: 1fr;
}